.title {
  align-self: center;
  margin-left: 20px;
}

.titleBtns {
  display: flex;
  flex-direction: row;
  width: 150px;
  -webkit-app-region: no-drag;
}

.titleBtns button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  color: #fff;
}

.titleBtns button:hover {
  background-color: #4280ff;
}

.titleBtns .closeBtn {
  font-size: 100%;
}

.titleBtns .closeBtn:hover {
  background-color: #d1495b;
}
