<div class="title">Anime Donlodah</div>
<div class="titleBtns">
  <button (click)="minimize()" class="minimizeBtn" title="Minimize">
    <fa-icon [icon]="minimizeIcon"></fa-icon>
  </button>
  <button
    (click)="maximize()"
    [ngClass]="isMaximized$ ? 'restoreBtn' : 'maximizeBtn'"
    [title]="isMaximized$ ? 'Restore' : 'Maximize'"
  >
    <fa-icon [icon]="maximizeMaximizeIcon"></fa-icon>
  </button>
  <button (click)="close()" class="closeBtn" title="Close">
    <fa-icon [icon]="closeIcon"></fa-icon>
  </button>
  {{ isMaximized$ }}
</div>
