<div class="title">Anime Donlodah</div>
<div class="titleBtns">
  <button (click)="minimize()" class="minimizeBtn" title="Minimize">
    <fa-icon [icon]="minimizeIcon"></fa-icon>
  </button>
  <button
    (click)="maximize()"
    [ngClass]="isMaximizeable ? 'maximizeBtn' : 'restoreBtn'"
    [title]="isMaximizeable ? 'Maximize' : 'Restore'"
  >
    <fa-icon [icon]="maximizeMaximizeIcon"></fa-icon>
  </button>
  <button (click)="close()" class="closeBtn" title="Close">
    <fa-icon [icon]="closeIcon"></fa-icon>
  </button>
</div>
